.VPDoc {
  padding: 0 !important;
  overflow: visible !important;
  position: relative;
  transition: all 1.2s cubic-bezier(0.16, 0.85, 0.25, 1);
}
.container{
  padding: 0!important;
  margin: 0;
}
.VPDoc.has-aside .container:has(.theme-main-page) {
  display: none;
}

.VPDoc.has-aside .container .aside .aside-curtain {
  display: none;
}

.VPContent#VPContent .VPDoc.has-aside>.container:has(.theme-main-page) {
  display: block;
  max-width: 100%;
}

.VPDoc.has-aside .container .content:has(.theme-main-page) {
  max-width: 100%;
  padding: 0;
}

.VPDoc.has-aside .container .content-container:has(.theme-main-page) {
  max-width: 100%;
}

.VPNavBar.top {
  user-select: none;
}

.vp-doc table {
  width: 100%;
  display: table;
}

.VPDoc {
  padding: 0 !important;
  overflow: visible !important;
  position: relative;
  transition: all 1.2s cubic-bezier(0.16, 0.85, 0.25, 1);
}
.container {
  padding: 0 !important;
}
.VPDoc.has-aside .container:has(.theme-main-page) {
  display: none;
}

.VPDoc.has-aside .container .aside .aside-curtain {
  display: none;
}

.VPContent#VPContent .VPDoc.has-aside > .container:has(.theme-main-page) {
  display: block;
  max-width: 100%;
}

.VPDoc.has-aside .container .content:has(.theme-main-page) {
  max-width: 100%;
  padding: 0;
}

.VPDoc.has-aside .container .content-container:has(.theme-main-page) {
  max-width: 100%;
}

td,
th {
  border: none;
}

tbody {
  tr:nth-child(2n) {
    background-color: white;

    .dark & {
      background-color: #1b1b1f;
    }
  }
}

.vp-doc blockquote {
  background-color: #f0f7ff;
  padding: 15px;
  padding-top: 10px;
  border-left: 3px solid #0066cc;

  .dark & {
    background-color: #0a1929;
    color: #cce4ff;
  }
}

:root {
  --vp-c-brand: #0066cc;
  --vp-c-brand-light: #0080ff;
  --vp-c-brand-lighter: #3399ff;
  --vp-c-brand-dark: #004d99;
  --vp-c-brand-darker: #003366;
}

.dark {
  --vp-c-brand: #3399ff;
  --vp-c-brand-light: #66b3ff;
  --vp-c-brand-lighter: #99ccff;
  --vp-c-brand-dark: #0080ff;
  --vp-c-brand-darker: #0066cc;
}
